<div class="header">
    <h1>Albums</h1>
</div>
<div class="container-fluid">
{{#each data.body.items}}
<div class="card" style="width: 18rem;">
    <img src="{{this.images.0.url}}" class="card-img-top" alt="img">
    <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <a href="/albums/{{this.id}}/tracks" class="btn btn-danger">View Tracks</a>
    </div>
</div>
{{/each}}
</div>
