<div style="background-image: url('../images/spotify-background.jpeg')" id="background">
<form action="/artist-search" method="GET" class="form-search">
    <input name="artist" type="text" id="input" class="form-control" required="required">
    <div id="centered-btn"><button type="submit" class="btn-danger">Search for an Artist</button></div>
</form>
</div>